#car_ill_can {
    background:url('optical_illusion_car.png');
    border:1px solid black;
    padding-left: 0;
    padding-right: 0;
    margin-left: auto;
    margin-right: auto;
    display: block;
    position: relative;
}

#zar_ill_can {
    background:url('shadow.png');
    border:1px solid black;
    padding-left: 0;
    padding-right: 0;
    margin-left: auto;
    margin-right: auto;
    display: block;
    position: relative;
}

#ball_ill_can {
    background:url('color_illusion.png');
    border:1px solid black;
    padding-left: 0;
    padding-right: 0;
    margin-left: auto;
    margin-right: auto;
    display: block;
    position: relative;
}
